@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DigofaBold';
  src: url('/fonts/digofa.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DelightRegular';
  src: url('/fonts/delight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roxhead';
  src: url('/fonts/roxhead.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Azedo';
  src: url('/fonts/azedo.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spekk';
  src: url('/fonts/spekk semibold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'spekk', sans-serif;
}


